<%= form_for(@auth_session) do |f| %>
  <% if @auth_session.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@auth_session.errors.count, "error") %> prohibited this auth_session from being saved:</h2>

      <ul>
      <% @auth_session.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :token %><br />
    <%= f.text_field :token %>
  </div>
  <div class="field">
    <%= f.label :active %><br />
    <%= f.check_box :active %>
  </div>
  <div class="field">
    <%= f.label :user_agent %><br />
    <%= f.text_field :user_agent %>
  </div>
  <div class="field">
    <%= f.label :last_ip %><br />
    <%= f.text_field :last_ip %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
