<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <%= link_to "FantasyRush", users_path, class: 'navbar-brand' %>
    </div>
  </nav>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
